/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

.wrapper {
    width: 100%;
    height: 100vh;
}
ul {
    list-style: none;
}
/* BODY */

/* BIG-SECTION */

.big-section {
    height: calc(100% - 100px);
    display: flex;
}
/* "nav-list" */
.nav-list {
    width: 200px;
    background-color: #000000;
    height: 100%;
}
/* "home-section" */

.home-section {
    width: calc(100% - 200px);
    background-color: #141922;
    overflow: auto;
    
}
/* top-home */
.top-home {
    height: 100px;
    background-color: #080B12;
}



/* home-center */
.home-center {
    height: calc(100% - 100px);
}



/* SECTION-INTERATTIVA */

.section-interattiva {
    height: 100px;
    background-color: #282828;
}